 <!DOCTYPE html>
    <html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Paneer Posting</title>
      <link rel="stylesheet" href="index.css">
    </head>

<!--Navbar-->
    <nav>
        <ul class="left-links">
            <li><a href="#">Home</a></li>
            <li><a href="#">Explore</a></li>
        </ul>
        <ul class="middle-links">
            <li><p class="title">Paneer Posting</p></li>
        </ul>
    </ul>
    <ul class="right-links">
        <li class="dropdown">
            <a href="#" class="icon">My Account</a>
            <div class="dropdown-content">
                <a href="signup.html">Sign Up</a>
                <a href="#">Login</a>
            </div>
        </li>       
        <li><a href="#">Settings</a></li> 
    </ul>        
    </nav>

<!---CSS-->
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.about-us{
  height: 100vh;
  width: 100%;
  padding: 90px 0;
  background: #000000;
}
.pic{
  height: 320px;
  width:  320px;

}
.about{
  width: 1130px;
  max-width: 85%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.text{
  width: 540px;
  color: #f1f2f3;

  
}
.text h2{
  font-size: 90px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #f1f2f3;

}
.text h5{
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 20px;
}
span{
  color: #f1f2f3;
}
.text p{
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 1px;
  color: #f1f2f3;

}
.data{
  margin-top: 30px;
}
.hire{
  font-size: 18px;
  color: #060607;
  background: #ffffff;
  text-decoration: none;
  border: none;
  padding: 8px 25px;
  border-radius: 6px;
  transition: 0.5s;
}
.hire:hover{
  background: #0f0f0f;
  border: 1px solid #f7f7f7;
  color: #fffdfd;

}
    </style>

    <body>
      <section class="about-us">
        <div class="about">
         <img src="aboutus.jpg" class="">
          <div class="text">
            <h2>About Us</h2>
            <h5>Front-end Developer's & <span>Designers</span></h5>
              <p>Welcome to Paneer Posting - the brainchild of Vedant, Raj, and Karan where they have pooled their skills to create a space for everyone. Here, individuals from all walks of life are invited to write, post, and share their thoughts. It's more than a website; it's a community-driven hub where diverse voices converge. Join us in making Paneer Posting a vibrant canvas for shared ideas and unique perspectives. Write, post, and share your story with the world!</p>
            <div class="data">
            <a href="#" class="hire">Contact Us</a>
            </div>
          </div>
        </div>
      </section>
    </body>
    </html>