<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/index.css">
    <title><%- locals.title -%></title>
</head>
<body>

    <!--Navbar-->
    <nav>
        <ul class="left-links">
            <li><a href="#">Home</a></li>
            <li><a href="blog">Explore</a></li>
            <li><a href="posting">Post Now</a></li>

        </ul>
        <ul class="middle-links">
            <li><p class="title">Chicken Posting</p></li>
        </ul>
    </ul>
    <ul class="right-links">
        <li class="dropdown">
            <a href="#" class="icon">My Account</a>
            <div class="dropdown-content">
                <a href="signup">Sign Up</a>
                <a href="#">Login</a>
            </div>
        </li>       
        <li><a href="myprofile">Settings</a></li> 
        <form action="/search" role="search" method="post">
            <input type="search" name="searchQuery" id="searchInput" placeholder="Enter blog title or author name">
            <button type="submit">Search</button>
        </form>
        
    </ul>        
    </nav>
    
       <!-- Body using parallax -->
    <div class="wrapper banner">
        <div class="text-wrapper">
            <h1><span style="color: #020101;">Panner Posting</span></h1>
            <p></p>
        </div>
    </div>

    <div class="wrapper">
        <div class="text-wrapper">
            <h1 style="color: rgb(228, 228, 228);">"Create a blog"</h1>
            <p style="color: rgb(228, 228, 228);">Share your story with the world. Stand out with a professionally-designed blog website that can be customized to fit your brand. Build, manage, and promote your blog with Squarespace’s built-in suite of design and marketing tools.</p>
        </div>
    </div>

    <div class="wrapper">
        <div class="text-wrapper">
            <h1 style="color: rgb(228, 228, 228);">"Express Yourself:"</h1>
            <p style="color: rgb(228, 228, 228);">Unleash your creativity and express your unique perspective through engaging blog posts.</p>
        </div>
    </div>

    <div class="wrapper">
        <div class="text-wrapper">
            <h1 style="color: rgb(228, 228, 228);">""</h1>
            <p style="color: rgb(228, 228, 228);"></p>
        </div>
    </div>

    <div class="wrapper">
        <div class="text-wrapper">
            <h1 style="color: rgb(228, 228, 228);">Start exploring Now!!</h1>
            <p style="color: rgb(228, 228, 228);">Only with Panner Posting</p>
            <p style="padding: 15px 250px; border-radius: 10px;"><a href="posting.ejs">Start Exploring</a></p>
        </div>
    </div>  





</body>
</html>