<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/index.css">
    <title><%- locals.title -%></title>
</head>
<body>

    <!--Navbar-->
    <nav>
        <ul class="left-links">
            <li><a href="/">Home</a></li>
            <li><a href="explore">Explore</a></li>
            <li><a href="post">Post Now</a></li>
        </ul>
        <ul class="middle-links">
            <li><p class="title">Paneer Posting</p></li>
        </ul>
        <ul class="right-links">
            <li class="dropdown">
                <a href="#" class="icon">My Account</a>
                <div class="dropdown-content">
                    <a href="signup">Sign Up</a>
                    <a href="login">Login</a>
                </div>
            </li>
            <li><a href="settings">Settings</a></li>
            <li>
                <form action="/search" role="search" method="post">
                    <input type="search" name="searchQuery" id="searchInput" placeholder="Search...">
                    <button type="submit"><i class="fas fa-search"></i></button>
                </form>
            </li>
        </ul>
    </nav>
    
       <!-- Body using parallax -->
       <div id="parallax1" class="parallax"></div>
       <div id="content">
        <h1><span style="color: #020101;">Paneer Posting</span></h1>
        <p></p> 
       </div>
       
       <div id="parallax2" class="parallax"></div>
       <div id="content">
        <h1 style="color: rgb(228, 228, 228);">"Create a blog"</h1>
        <p style="color: rgb(228, 228, 228);">Share your story with the world. Stand out with a professionally-designed blog website that can be customized to fit your brand. Build, manage, and promote your blog with Squarespace’s built-in suite of design and marketing tools.</p>
       </div>
   
       <div id="parallax3" class="parallax"></div>
       <div id="content">
        <h1 style="color: rgb(228, 228, 228);">"Express Yourself:"</h1>
        <p style="color: rgb(228, 228, 228);">Unleash your creativity and express your unique perspective through engaging blog posts.</p>
       </div>
   
    
   
   
       <div id="content">
           <h1>Footer</h1>
           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
       </div>

        <div class="text-wrapper">
       
            <p style="padding: 15px 250px; border-radius: 10px;"><a href="policy">Privacy Policy</a></p>
            <p style="padding: 15px 250px; border-radius: 10px;"><a href="aboutus">About us</a></p>
            <p style="padding: 15px 250px; border-radius: 10px;"><a href="membership">Membership</a></p>
            <p style="padding: 15px 250px; border-radius: 10px;"><a href="tutorial">Get started</a></p>
        </div>
    </div>  






</body>
</html>