<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/index.css">
    <title><%- locals.title -%></title>
 <!-- <link rel="apple-touch-icon" sizes="180x180" href="public/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="public/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="public/favicon/favicon-16x16.png">
    <link rel="manifest" href="public/favicon/site.webmanifest"> -->
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    
</head>
<body>
    <style>
        .column {
            float: left;
            margin: 3.5%;
            padding: 10px;
            width: 25%;
            text-align: center;
         }
         .row::after {
            content: "";
            clear: both;
            display: table;
         }
    </style>

    <!--Navbar-->
    <nav>
        <ul class="left-links">
            <li><a href="/">Home</a></li>
            <li><a href="blog">Explore</a></li>
            <li><a href="posting">Post Now</a></li>
            <li><a href="aboutus">About us</a></li>

        </ul>
        <ul class="middle-links">
            <li><p class="title">Paneer Posting</p></li>
        </ul>
        <ul class="right-links">
            <li class="dropdown">
                <a href="#" class="icon">My Account</a>
                <div class="dropdown-content">
                    <a href="signup">Sign Up</a>
                    <a href="login">Login</a>
                </div>
            </li>
            <a href="/myprofile?username=<%= username %>">Settings</a>


            <li>
                <form action="/search" role="search" method="post">
                    <input type="search" name="searchQuery" id="searchInput" placeholder="Search..." style="height: 1px;">
                    <button type="submit"><i class="fas fa-search"></i></button>
                </form>
            </li>
        </ul>
    </nav>
    
       <!-- Body using parallax -->
    
       
       <div id="parallax1" class="parallax"></div>
       <div id="content">
        <h1 style="color: rgb(228, 228, 228);">Create a blog</h1>
        <p style="color: rgb(228, 228, 228);">Share your story with the world. Stand out with a professionally-designed blog website that can be customized to fit your brand. Build, manage, and promote your blog with Squarespace’s built-in suite of design and marketing tools.</p>
       </div>
   
       <div id="parallax2" class="parallax"></div>
       <div id="content">
        <h1 style="color: rgb(228, 228, 228);">Express Yourself</h1>
        <p style="color: rgb(228, 228, 228);">Unleash your creativity and express your unique perspective through engaging blog posts.</p>
       </div>

       <div id="parallax3" class="parallax"></div>
       <div id="content">
        <h1 style="color: rgb(228, 228, 228);">Become a blogger</h1>
        <p style="color: rgb(228, 228, 228);">Explore endless possibilities for expressing your thoughts and sharing them with the world.</p>
       </div>

       <div id="parallax4" class="parallax"></div>
       <div id="content">
        <h1 style="color: rgb(228, 228, 228);">Sign up now!!</h1>
        <p><button style="padding: 15px 20px; border-radius: 10px;">Sign up</button></p>
       </div>


       

       
   
    


        <div style="font-size:x-large; " >
            <div class="row">
                <div class="column">
                    <p><a href="policy">Privacy Policy</a></p>
                </div>
                <div class="column">
                    <p><a href="aboutus">About Us</a></p>
                </div>
                <div class="column">
                    <p><a href="membership">Membership</a></p>
                </div>
            </div>
        </div>
    </div>  






</body>
</html>