<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">

    <title>Paneer Posting</title>

    <style>
         .column {
            border: solid 1px;
            border-radius: 10px;
            background-color: white;
            float: left;
            margin-right: 7.2%;
            margin-left: 7.2%;
            margin-bottom: 5%;
            padding: 10px;
            width: 18%;
            text-align: center;
         }
         .row::after {
            content: "";
            clear: both;
            display: table;
         }
    </style>
</head>
<body>

    <!--Navbar-->
    <nav>
        <ul class="left-links">
            <li><a href="/">Home</a></li>
            <li><a href="login">Explore</a></li>
            <li><a href="login">Post Now</a></li>
            <li><a href="aboutus">About us</a></li>

        </ul>
        <ul class="middle-links">
            <li><p class="title">Paneer Posting</p></li>
        </ul>
        <ul class="right-links">
            <li class="dropdown">
                <a href="#" class="icon">My Account</a>
                <div class="dropdown-content">
                    <a href="signup">Sign Up</a>
                    <a href="login">Login</a>

                </div>
            </li>
            <li><a href="myprofile">Settings</a></li>
            <li>
                <form action="/search" role="search" method="post">
                    <input type="search" name="searchQuery" id="searchInput" placeholder="Search..." style="height: 1px;">
                    <button type="submit"><i class="fas fa-search"></i></button>
                </form>
            </li>
        </ul>
    </nav>
    
    <div class="wrapper" style="height: auto ; padding: 20px; padding-bottom: 0px;">
        <div class="text-wrapper">
            <h2 style="font-size: 40px;">Choose Your Membership Plan</h2>
        </div>
    </div>


    <!--Signup Box-->
    <div class="row">
        <div class="column">
           <h2>Regular</h2>
           <p>Unlimited Blog Writing with extensive collection of specially selected templates only with Paneer Posting.</p>
           <h2>Rs. 200</h2>
        </div>
        <div class="column">
           <h2>Premium</h2>
           <p>Thousands of pre-designed themes to choose from. Access to premium designing tools.</p>
           <h2>Rs. 400</h2>
        </div>
        <div class="column">
           <h2 style=" background: linear-gradient(to right, 
           rgb(241, 208, 241), rgb(141, 77, 187), rgb(105, 3, 126)); border-radius: 10px; -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;">Deluxe</h2>
           <p>Professional grade templates with tools for personalization. 24/7 access to our support team.</p>
           <h2>Rs. 900</h2>
     </div>
    <div class="container">
        <div class="card" style="height: 400px;" >
          <div class="card_title">
            <h1>Unlock endless features with Premium Membership!</h1>
          </div>
          <div class="form">
            <form action="/payment" method="post">
                <input type="text" name="name" id="name" placeholder="Your Name" />
                <input type="text" name="card_details" id="card_details" placeholder="Card Number" />
                <input type="password" name="password" placeholder="Password" id="password" />
                <p>Choose Your Membership Plan:</p>
                <select name="plan">
                    <option value="Regular">Regular</option>
                    <option value="Premium">Premium</option>
                    <option value="Deluxe">Deluxe</option>
                </select>
                <br>
                <br>
                <button type="submit">Pay</button>
            </form>
          </div>
          <div class="card_terms">
              <input type="checkbox" name="" id="terms"> <span>I have read and agree to the <a href="">Terms of Service</a></span>
          </div>
        </div>
      </div>
      

</body>
</html>