
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/index.css">
    <title><%- locals.title -%></title>
</head>
<body>

    <!-- Main Content Section -->
    <main>

        <!-- Privacy Policy Content -->
        <div class="wrapper" style="align-items: normal; padding-top: 100px; height: auto;">
            <div class="text-wrapper" style="text-align:left; border: solid 1px; padding: 100px; border-radius: 20px; background-color: black;">
                <h1 style="font-size: 60px; text-align: center;">Our Privacy Policy</h1><br><br>


                <h2>Information We Collect</h2>
                <p>We may collect personal information such as your name, email address, and contact details when you interact with our website, such as filling out forms or subscribing to newsletters.</p>

                <h2>How We Use Your Information</h2>
                <p>We use the information we collect for various purposes, including providing and improving our services, communicating with you, and sending newsletters or promotional materials.</p>

                <h2>Cookies</h2>
                <p>We use cookies and similar tracking technologies to analyze trends, administer the website, track users' movements around the website, and gather demographic information about our user base.</p>

                <h2>Third-Party Services</h2>
                <p>We may use third-party services to help us operate our website or assist us in analyzing how our website is used. These third parties may have access to your personal information as necessary to perform their functions but are not permitted to share or use it for any other purpose.</p>

                <h2>Security</h2>
                <p>We prioritize the security of your personal information and implement reasonable security measures to protect it from unauthorized access or disclosure.</p>

                <h2>Changes to This Privacy Policy</h2>
                <p>We may update our privacy policy from time to time. Any changes will be reflected on this page, and we encourage you to review this policy periodically.</p>

                <h2>Contact Us</h2>
                <p>If you have any questions about our privacy policy or how we handle your personal information, please contact us.</p>
                <br>
                <h2 style="text-align: right;"><a href="posting.ejs">Go Back to Posting..</a></h2>
            </div>
        </div>

    </main>

    <!-- Footer Section -->
    <footer>
        <p>&copy; Your Website 2024. All Rights Reserved.</p>
    </footer>

</body>
</html>
