<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panner Posting</title>
    <link rel="stylesheet" href="/index.css">
</head>
<body>
    <div class="container">
        <header>
            <h1></h1>
        </header>
        <main>
            <form action="/posting" method="post">
                <article class="post-card">
                    <input type="text" name="postTitle" id="postTitle" class="post-title" placeholder="Enter Post Title">
    <textarea class="post-content" id="postContent" contenteditable="true" name="postContent" placeholder="Enter your content..."></textarea>
                    
                    <footer class="post-footer">
                        <button type="submit" class="post-btn">Post</button>
                    </footer>
                </article>
            </form>
            
        </main>
        <footer>
            <p>&copy; 2024 Paneer Posting</p>
        </footer>
    </div>
</body>
</html>

