<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panner Posting</title>
    <link rel="stylesheet" href="/index.css">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">

</head>
<body>
    <nav>
        <ul class="left-links">
            <li><a href="/">Home</a></li>
            <li><a href="login">Explore</a></li>
            <li><a href="login">Post Now</a></li>
            <li><a href="aboutus">About us</a></li>

        </ul>
        <ul class="middle-links">
            <li><p class="title">Paneer Posting</p></li>
        </ul>
        <ul class="right-links">
            <li class="dropdown">
                <a href="#" class="icon">My Account</a>
                <div class="dropdown-content">
                    <a href="signup">Sign Up</a>
                    <a href="login">Login</a>

                </div>
            </li>
            <li><a href="myprofile">Settings</a></li>
            <li>
                <form action="/search" role="search" method="post">
                    <input type="search" name="searchQuery" id="searchInput" placeholder="Search..." style="height: 1px;">
                    <button type="submit"><i class="fas fa-search"></i></button>
                </form>
            </li>
        </ul>
    </nav>
    
    <div class="container">
        <div class="wrapper" style="height: auto ; padding: 40px;">

        </div>
        <main>
            <form action="/posting" method="post">
                <article class="post-card">
                    <input type="text" name="postTitle" id="postTitle" class="post-title" placeholder="Enter Post Title">
                    <textarea class="post-content" id="postContent" name="postContent" placeholder="Enter your content..."></textarea>
                    <input type="text" name="authorName" id="authorName" placeholder="Enter Author Name" class="post-title">
                    <footer class="post-footer">
                        <button type="submit" class="post-btn">Post</button>
                    </footer>
                </article>
            </form>
            
            
        </main>
        <footer>
            <p>&copy; 2024 Paneer Posting</p>
        </footer>
    </div>
</body>
</html>

