<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/index.css">
    <title><%- locals.title -%></title>
</head>
<body>

    <!-- Main Content Section -->
    <main>


        <!-- Steps to Create Your First Blog -->
        <div class="wrapper">
            <div class="text-wrapper">
                <h1 style="font-size: 100px;">How to post your first Blog?</h1>
                <h2 style="font-size: 40px;">Define Your Blog's Purpose</h2>
                <p style="font-size: 30px;">Determine the topic or niche of your blog. Define its purpose and target audience to create relevant and engaging content.</p>
            </div>
        </div>

        <div class="wrapper" style="background-color: black; height: auto; padding: 100px;">
            <div class="text-wrapper">
                <h2 style="font-size: 40px;">Plan Your Content</h2>
                <p style="font-size: 30px;">Outline the structure of your blog posts. Plan topics, headlines, and key points to maintain consistency and clarity.</p>
            </div>
        </div>

        <div class="wrapper">
            <div class="text-wrapper">
                <h1 style="font-size: 50px;">Start Writing and Publish Your First Blog Post</h2><Br>
                <p style="font-size: 30px;">Start writing your first blog post. Focus on quality content, use visuals, and proofread before publishing to make a strong impression.</p>
            </div>
        </div>

        <!-- Call to Action -->
        <div class="wrapper" style="background-color: black; height: auto; padding: 100px;">
            <div class="text-wrapper">
                <h2 style="font-size: 40px;">Ready to Start Blogging?</h2>
                <p style="font-size: 30px;">Begin your blogging journey with Paneer Posting. Share your ideas, stories, and expertise with the world!</p>
                <br>
                <a href="posting.ejs" class="btn" style="font-size: 30px;">Start Now!</a>
            </div>
        </div>

    </main>

    <!-- Footer Section -->
    <footer>
        <p>&copy; </p>
    </footer>

</body>
</html>
