<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/index.css">
    <title><%- locals.title -%></title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">

</head>
<body>
    <nav>
        <ul class="left-links">
            <li><a href="/">Home</a></li>
            <li><a href="login">Explore</a></li>
            <li><a href="login">Post Now</a></li>
            <li><a href="aboutus">About us</a></li>

        </ul>
        <ul class="middle-links">
            <li><p class="title">Paneer Posting</p></li>
        </ul>
        <ul class="right-links">
            <li class="dropdown">
                <a href="#" class="icon">My Account</a>
                <div class="dropdown-content">
                    <a href="signup">Sign Up</a>
                    <a href="login">Login</a>

                </div>
            </li>
            <li><a href="myprofile">Settings</a></li>
            <li>
                <form action="/search" role="search" method="post">
                    <input type="search" name="searchQuery" id="searchInput" placeholder="Search..." style="height: 1px;">
                    <button type="submit"><i class="fas fa-search"></i></button>
                </form>
            </li>
        </ul>
    </nav>
    
    <!-- Main Content Section -->
    <main>


        <!-- Steps to Create Your First Blog -->
        <div class="wrapper" style="background-color: black; height: auto; padding: 100px;">
            <div class="text-wrapper">
                <h1 style="font-size: 60px;">How to post your first Blog?</h1>
                <h2 style="font-size: 40px;">Define Your Blog's Purpose</h2>
                <p style="font-size: 30px;">Determine the topic or niche of your blog. Define its purpose and target audience to create relevant and engaging content.</p>
            </div>
        </div>

        <div class="wrapper" style="background-color: white; height: auto; padding: 100px;">
            <div class="text-wrapper" style="color: black;">
                <h2 style="font-size: 40px;">Plan Your Content</h2>
                <p style="font-size: 30px;">Outline the structure of your blog posts. Plan topics, headlines, and key points to maintain consistency and clarity.</p>
            </div>
        </div>

        <div class="wrapper" style="background-color: black; height: auto; padding: 100px;">
            <div class="text-wrapper" >
                <h1 style="font-size: 50px;">Start Writing and Publish Your First Blog Post</h2><Br>
                <p style="font-size: 30px;">Start writing your first blog post. Focus on quality content, use visuals, and proofread before publishing to make a strong impression.</p>
            </div>
        </div>

        <!-- Call to Action -->
        <div class="wrapper" style="background-color: white; height: auto; padding: 100px;">
            <div class="text-wrapper" style="color: black;">
                <h2 style="font-size: 40px;">Become a Member Now</h2>
                <p style="font-size: 30px;">Begin your blogging journey with Paneer Posting. Share your ideas, stories, and expertise with the world!</p>
                <br>
                <a href="membership" class="btn" style="font-size: 30px;">Start Now!</a>
            </div>
        </div>

    </main>

    <!-- Footer Section -->
    <footer>
        <p>&copy; </p>
    </footer>

</body>
</html>
